body {
    
    background-color: #eafaf1;
    display: flex;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
  }
  
  .form {
    background-color: #fff;
    padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
    
  }
  .form h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group input[type="text"]{
width: 85%;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 20px;
    

  }
 


  .form-group input[type="email"], .form-group textarea, .form-group button {
    width: 93%;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 20px;
  }
  .form-group input[type="radio"] {
    width: auto;
    accent-color:green;
    
  }
  .radio{
    outline: 1px solid;
    padding: 10px;
    padding-right: 90px;
    padding-left: 20px;
    border-radius: 5px;
    
  }


  
  .form-group button {
    background-color: #007b5e;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  .form-group button:hover {
    background-color: #005a43;
  }